<a href="https://colab.research.google.com/github/Neelima-maker/11/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello Class")

Hello Class

#How to print numbers and strings together

In [2]:
print("printing something...",2,"yes??",45,"No!!")

printing something... 2 yes?? 45 No!!

In [9]:
num=2.44
name="Neelima"
type(num)
#type(name)

float

In [10]:
num1=5; num2=2.05
print(num1)
type(num1)

5

int

In [12]:
celcius=20
#formula for conversion
farenheit = (celcius*(9/5))+32
print(farenheit)

68.0

In [35]:

def convert_to_faren(celcius):
  farenheit = (celcius * (9/5)) + 32
  return farenheit
convert_to_faren(40)
cells=input("Enter the temperature in celcius:" )
print(cells)
type(cells)
convert_to_faren(float(cells))

Enter the temperature in celcius:45
45

113.0